.contact {
  border: 1px solid #ccc;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 25rem;
}

.contact img {
  width: 10px;
}

.contactTitle {
  font-weight: bold;
}

.contactPhone {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contactEmail {
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 750px) {
  .contact {
    margin: 0 0 2rem 0;
    padding: 2rem;
  }
}

@media (max-width: 460px) {
  .contact {
    border: 1px solid #ccc;
    margin: 0 0 2rem 0;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 20rem;
  }
}
