.heading {
  padding-top: 18rem;
  padding-left: 1.5rem;
}

.heading h1 {
  font-size: 8rem;
  font-weight: 800;
}

.heading h2 {
  font-size: 4rem;
  font-weight: 400;
}

@media (max-width: 1439px) {
  .heading h1 {
    font-size: 5rem;
    font-weight: 800;
  }

  .heading h2 {
    font-size: 3.5rem;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .heading h1 {
    font-size: 4rem;
    margin-top: 4rem;
  }

  .heading h2 {
    font-size: 3.2rem;
  }
}
