.container {
  padding: 0 100px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 90px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 0px;
  }
}
