.item {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 1rem;
}

.item a,
.item a:link,
.item a:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f7f7f7;
  transition: all 0.3s;
}

.item a,
.item a:hover,
.item a:active {
  color: rgba(255, 255, 255, 0.664);
}
