.indexCloud {
  margin-bottom: 10rem;
}

.indexCloudCloud {
  margin-left: 1rem;
}

.indexCloudWrapper {
  display: flex;
}

.indexCloudInfo {
  width: 50%;
  position: relative;
}

.indexCloudImages {
  width: 50%;
}

.indexCloudImgWrap {
  text-align: center;
}

.indexCloudTitle {
  margin-bottom: 3rem;
  font-weight: bold;
}

.indexCloudList {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 90%;
  list-style: none;
}

.indexCloudList li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00cd0d; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.indexCloudItems {
  margin-top: 1rem;
}

.indexCloudAntena {
  position: absolute;
  right: 0;
  bottom: 0;
}

.indexCloudAntena img {
  position: absolute;
  right: 0;
  bottom: 15px;
}

@media (max-width: 850px) {
  .indexCloudWrapper {
    display: block;
  }

  .indexCloudInfo {
    width: 100%;
    position: relative;
  }

  .indexCloudImages {
    width: 100%;
  }

  .indexCloudAntena {
    position: absolute;
    right: 40px;
    bottom: -40px;
  }
}

@media (max-width: 850px) {
  .indexCloudAntena {
    position: absolute;
    right: 0px;
    bottom: -40px;
  }
}
