.IndexInfo {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.IndexInfoWrapper {
  display: flex;
  position: relative;
  max-width: 1200px;
}

.IndexInfoLeft__imgsm img {
  width: 15rem;
  height: 20rem;
}

.IndexInfoLeft__imgbig img {
  width: 30rem;
}

.IndexInfoRight__wrapper {
  margin-top: 4rem;
  padding: 4rem;
}

.IndexInfoRight__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.IndexInfoRight__description {
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 1.8rem;
}

.IndexInfoAntena {
  position: absolute;
  bottom: 0;
  right: 0;
}

.IndexInfoAntena img {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 25rem;
  z-index: -2;
}

@media (max-width: 840px) {
  .IndexInfoAntena {
    bottom: -40px;
  }
}

@media (max-width: 680px) {
  .IndexInfoWrapper {
    display: block;
  }

  .IndexInfoAntena img {
    height: 20rem;
  }

  .IndexInfoLeft__imgbig img {
    width: 25rem;
  }

  .IndexInfoLeft__imgsm img {
    width: 13rem;
    height: 18rem;
  }

  .IndexInfoRight__wrapper {
    margin-top: 2rem;
    padding: 4rem;
  }
}

@media (min-width: 1439px) {
  .IndexInfoRight__title {
    font-size: 2.5rem;
  }

  .IndexInfoRight__description {
    font-size: 2rem;
  }
}

.modalContent {
  padding: 1.5rem;
}

.modalContent h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}

.modalContent p {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.modalContent a {
  font-size: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  margin-top: 2rem;
  color: #00cc0e;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
